@media screen and (min-width: 320px) {
  .deliveryCartSmall .screenToBig {
    display: none;
  }
  .deliveryCartSmall {
    margin-left: 40px;
  }
  .deliveryCartSmall h1 {
    font-size: 22px;
    margin-top: 40px;
  }
  .deliveryCartSmall h3 {
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: none;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .deliveryCartSmall .radio input[type="radio"] {
    display: none;
    /*removes original button*/
  }

  .deliveryCartSmall .radio label:before {
    -webkit-appearance: inherit;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
    /*styles outer circle*/
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 11px;
    background-color: white;
  }

  .deliveryCartSmall .radio label {
    position: relative;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 11px;
    color: #4a4a4a;
  }

  .deliveryCartSmall .radio label input[type="radio"]:checked + span {
    /*styles inside circle*/
    border-radius: 11px;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 4px;
    display: block;
    background-color: #434352;
    transition-duration: 0.3s;
  }
  .deliveryCartSmall .sameAddressText {
    padding: 9px 25px;
    background-color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.12));
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 11px;
    width: 220px;
    color: #c7c7c7;
  }
  .deliveryCartSmall .differentAddress {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .deliveryCartSmall input[type="text"] {
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .deliveryCartSmall .differentAddress .street {
    width: 60vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .number {
    width: 10vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .postal {
    width: 16vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .city {
    width: 23vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .country {
    width: 20vw;
  }
  .deliveryCartSmall .checkbox {
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
  }

  .deliveryCartSmall .checkbox > span {
    color: #4a4a4a;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 11px;
  }

  .deliveryCartSmall .checkbox > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 20px;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    cursor: pointer;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.22));
    margin-right: 10px;
  }

  .deliveryCartSmall .checkbox > input:checked {
    border: none;
    background-color: #34495e;
    width: 15px;
    height: 15px;
  }
  .deliveryCartSmall .back {
    position: absolute;
    bottom: 49px;
    right: 220px;
    font-weight: 700;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
  }
  .deliveryCartSmall .rightCartBuyButton {
    float: unset;
    background: linear-gradient(45deg, #a9d98b, #cdeaba);
    font-weight: 700;
    font-size: 12px;
    padding: 12px 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
}

@media screen and (min-width: 480px) {
  .deliveryCartSmall .differentAddress .street {
    width: 50vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .number {
    width: 8vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .postal {
    width: 10vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .city {
    width: 25vw;
    margin-right: 20px;
  }

  .deliveryCartSmall .differentAddress .country {
    width: 30vw;
  }
  .deliveryCartSmall .rightCartBuyButton {
    float: unset;
    background: linear-gradient(45deg, #a9d98b, #cdeaba);
    font-weight: 700;
    font-size: 12px;
    padding: 12px 50px;
    position: absolute;
    bottom: 40px;
  }
  .deliveryCartSmall .sameAddressText {
    width: 280px;
  }
  .deliveryCartSmall .differentAddress .number {
    width: 8vw;
    margin-right: 20px;
  }
}

@media screen and (min-width: 600px) {
  .deliveryCartSmall h1 {
    margin-left: 0;
  }
  .deliveryCartSmall h3 {
    margin-left: 0;
  }
  .deliveryCartSmall p {
    margin-left: 0;
  }
  .deliveryCartSmall {
    margin-left: 100px;
  }
  .deliveryCartSmall .differentAddress .street {
    width: 35vw;
    margin-right: 20px;
  }
  .deliveryCartSmall .differentAddress .number {
    width: 8vw;
    margin-right: 100px;
  }
  .deliveryCartSmall .rightCartBuyButton {
    right: 80px;
  }
  .deliveryCartSmall .back {
    right: 270px;
  }
}

@media screen and (min-width: 768px) {
  .deliveryCartSmall {
    margin-left: 200px;
  }
  .deliveryCartSmall .rightCartBuyButton {
    float: unset;
    background: linear-gradient(45deg, #a9d98b, #cdeaba);
    font-weight: 700;
    font-size: 12px;
    padding: 12px 50px;
    position: absolute;
    bottom: 40px;
    right: 130px;
  }
  .deliveryCartSmall .back {
    right: 320px;
  }
}

@media screen and (min-width: 900px) {
  .deliveryCartSmall .rightCartBuyButton {
    float: unset;
    background: linear-gradient(45deg, #a9d98b, #cdeaba);
    font-weight: 700;
    font-size: 12px;
    padding: 12px 50px;
    position: absolute;
    bottom: 40px;
    right: 200px;
  }
  .deliveryCartSmall .back {
    right: 390px;
    width: unset;
  }
}

@media screen and (min-width: 1024px) {
  .deliveryCartSmall {
    margin-left: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .deliveryCartSmall {
    margin: 0;
  }
  .deliveryCartSmall form {
    display: none;
  }
  .deliveryCartSmall .screenToBig {
    display: block;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, #a9d98b, #cdeaba);
    padding: 20px 100px;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    margin-top: 200px;
    cursor: pointer;
  }
}
